/* CABECERA */
body > header{
    position: sticky;
    /* top: 0; */
    padding: 10px 20px;
    background-color: var(--secondary-strong);
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}
header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: end;
}
nav > ul > li > a{
    text-decoration: none;
    color: #fff;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.collapse-button{
    display: none;
}
.collapse-button{
    display: none;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1.25rem;
}
.collapse-button.active{
    display: block;
}

/* SECCION PRINCIPAL */
body > main{
    display: flex;
    flex-direction: column;
}

main >section{
    height: 500px;
    width: 100%;
    background-color: aquamarine;
}
main >section:first-child{
    background-color:bisque;
}
main >section:nth-child(2){
    background-color: darkseagreen;
}
main >section:last-child{
    background-color:blueviolet;
}