@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root{
    --primary-strong-t:#78000088;
    --primary-weak-t:#C1121F88;
    --secondary-strong-t:#00304988;
    --secondary-weak-t:#669BBC88;
    --primary-strong:#780000;
    --primary-weak:#C1121F;
    --secondary-strong:#003049;
    --secondary-weak:#669BBC;
    --back-light:#FDF0D5;
    --back-dark:#141216;
    --shadow-dark:#14121655;
}
